<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>HelloWord</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Hello Servlet</servlet-name>
		<servlet-class>hu.sol.kvki.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello Servlet</servlet-name>
		<url-pattern>/helloServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>RedirectFilter</display-name>
		<filter-name>RedirectFilter</filter-name>
		<filter-class>hu.sol.kvki.book.filter.RedirectFilter</filter-class>
	</filter>

	<listener>
		<listener-class>hu.sol.kvki.book.filter.ReqEncodingListener</listener-class>
	</listener>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<url-pattern>/RedirectFilter</url-pattern>
	</filter-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Free pages</web-resource-name>
			<url-pattern>/login.jsp</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Protected area</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Administrator</role-name>
			<role-name>School</role-name>
			<role-name>Manager</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<security-role>
		<description>Admin</description>
		<role-name>Administrator</role-name>
	</security-role>
	<security-role>
		<description>School</description>
		<role-name>School</role-name>
	</security-role>
	<security-role>
		<description>Manager</description>
		<role-name>Manager</role-name>
	</security-role>

</web-app>